* {
    margin: 0;
    font-family: 'Work Sans';
}

/* header banner styles */
.banner {
    width: auto;
    height: 600px;
    text-align: right;
    padding: 316px 330px 0 0;
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-tittle {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #444343;
    margin-top: 24px;
}

.banner-button {
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #F15B22;
    border-radius: 5px;
    border: none;
    margin-top: 32px;
}

/* section failures styles */
.failures {
    display: flex;
    justify-content: center;
    margin-top: 130px;

}

.section-info {
    padding: 280px 0 0 80px;

}

.failures-tittle {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 25px;
}

.failures-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
}

.ression-ittem {
    margin-top: 10px;
}

.fa-solid {
    color: #33DD96;
}

/* section myplan styles */
.myplan {
    text-align: center;
    margin-top: 130px;
}

.plan-tittle {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.plan-ittems {
    display: flex;
    gap: 130px;
    justify-content: center;
    margin: 70px 0;
}

.ittems-tittle {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #151414;
    margin-top: 10px;

}

.ittems-description {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #737272;
    margin-top: 7px;
}